<img src="/logos/tender-transparent.png" alt="tender-logo">
<nav>
    <!-- <img src="/logos/tender-transparent.png" alt="tender-logo" width="300" height="300"> -->
    <!-- &nbsp; -->
    <!-- <div class="nav-links"> -->
        <a href="/">Home</a>
        <a href="/restaurants/filter">Restaurants</a>
        <a href="/users/<%=user._id%>">Profile</a>
        <a href="/logout">Logout</a>
    <!-- </div> -->
</nav>
<!-- <div class="nav-space"></div> -->