<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tender</title>
    <link rel="icon" href="/logos/tender-icon.png">
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>

    <video id="background-video" autoplay loop muted poster="/videos/tender-stillimage.png">
        <source src="/videos/tender-homepage.mp4" type="video/mp4">
    </video>

    <section class="homepage-main">
        <div class="panel">
            <div class="homepage-text">Welcome to</div>
            <div class="homepage-logo">
                <img class="homepage-image" src="/logos/tender-transparent.png">
            </div>
            <div class="homepage-text"><br>
                Find your next meal</div>
            <a href="/auth/google"><button class="homepage-button">LOG IN</button></a>
        </div>
    </section>

</body>
</html>
