<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tender</title>
    <link rel="icon" href="/logos/tender-icon.png">
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        &nbsp;| &nbsp;
        <a href="/restaurants/filter">Find a Restaurant</a>
        &nbsp;| &nbsp;
        <a href="/users/<%=user._id%>">My Profile</a>
        &nbsp;| &nbsp;
        <a href="/logout">Logout</a>
    </nav>

<section class="main">

<h1><%= title %></h1>