@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

/* background video styling sourced from https://blog.hubspot.com/website/video-background-css */
#background-video {
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
}

.homepage-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
	width: 100vw;
	height: 100vh;
	margin: 0;
}

.panel {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 22rem;
}

.homepage-text {
	font-size: 25px;
	color: white;
	font-style: italic;
	margin-bottom: 20px;
	margin-top: -20px;
	align-self: center;
}

.homepage-button {
	padding: 15px 32px;
	font-size: 20px;
	font-weight: bold;
	border-radius: 8%;
	border: 0;
	margin-top: 20px;
}

body {
	margin: 0;
}

header, main, footer {
  max-width: 70ch;
  padding: 0 2rem;
}

header {
  padding-top: 2rem;
}
footer {
  padding-bottom: 2rem;
}

.main {
	padding: 50px;
	max-width: 70ch;
}

a {
	color: #00b7ff;
}

img {
	width: 100%;
}

.flex-space-between {
	display: flex;
	justify-content: space-between;
}

.hidden {
	display: none;
}

.categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: .25rem;
}

.categories > div {
  display: flex;
  gap: .25rem;
}

@media (max-width: 750px) {
	/* #background-video {
		display: none;
    background-size: cover
	} */
	body {
		background: url('/videos/tender-homepage.mp4')
			no-repeat;
		background-size: cover;
	}
	.panel {
		width: 100vw;
		background-color: rgba(0, 0, 0, 0.4);
	}
}