@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
	--flame-top: hsl(4,100%,67%);
	--flame-bottom: hsl(347,100%,57%);
	--steak-rare: hsl(344,100%,59%);
	--steak-fat: hsl(12,100%,72%);
	--steak-fat-2: hsl(344,97%,41%);
	--steak-fat-3: hsl(347,100%,57%);
	--steak-fat-4: hsl(5,100%,67%);
	--info: hsl(210, 75%, 25%);
	--danger: hsl(0, 66%, 33%);
}

* {
  	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	/* border: 1px solid red; */
}

.homepage {
	margin: 0;
}

/* background video styling sourced from https://blog.hubspot.com/website/video-background-css */
#background-video {
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
}

.homepage-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
	width: 100vw;
	height: 100vh;
	margin: 0;
}

.panel {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 22rem;
}

.homepage-text {
	font-size: 25px;
	color: white;
	font-style: italic;
	margin-bottom: 20px;
	margin-top: -20px;
	align-self: center;
}

.homepage-image {
	width: 100%
}

.homepage-button {
	padding: 15px 32px;
	font-size: 20px;
	font-weight: bold;
	border-radius: 8%;
	border: 0;
	margin-top: 20px;
}

body {
	background-color: #6c0015;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
	height: 100vh;
	margin: 0;
}

nav {
	background-color: white;
	width: 100vw;
}

header, main, footer {
  max-width: 70ch;
  padding: 0 2rem;
}

header {
  padding-top: 2rem;
}
/* footer {
  padding-bottom: 2rem;
} */

.main {
	/* padding: 50px; */
	width: 600px;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	/* justify-content: center; */
	background-color: white;
	margin-top: 1rem;
	border: 1px solid blue;
}

a {
	color: #00b7ff;
}

.restaurant-img {
	width: 100%;
	object-fit: cover;
	height: 500px;
	border: 1px solid black
}

.flex-space-between {
	display: flex;
	justify-content: space-between;
}

.hidden {
	display: none;
}

.categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: .25rem;
}

.categories > div {
  display: flex;
  gap: .25rem;
}

.list-pills{ 
	list-style: none;
	padding-left: 0;
	display: flex;
	flex-wrap: wrap;
	gap: .25rem;
}
.list-pills > li {
	border: 1px solid currentColor;
	color: white;
	background-color: var(--flame-bottom);
	border-radius: .5rem;
	padding: 0 .5rem;
	font-size: .75rem;

}

.icon-button {
	border: 0px;
	background-color: rgba(0, 0, 0, 0);
	width: 5rem;
	height: 5rem;
}

@media (max-width: 750px) {
	/* #background-video {
		display: none;
    background-size: cover
	} */
	body {
		background: url('/videos/tender-homepage.mp4')
			no-repeat;
		background-size: cover;
	}
	.panel {
		width: 100vw;
		background-color: rgba(0, 0, 0, 0.4);
	}
}

.message-info,
.message-danger {
	margin: .5rem 1rem;
	padding: .25rem .5rem;
	border: 1px solid color-mix(in srgb, currentColor 20%, transparent);
	border-radius: .25rem;
	font-size: .8rem;
}

.message-info {
	color: var(--info);
	background-color: color-mix(in srgb, currentColor 15%, transparent);
}

.message-danger {
	color: var(--danger);
	background-color: color-mix(in srgb, currentColor 15%, transparent);
}