@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
	--flame-top: hsl(4, 100%, 67%);
	--flame-bottom: hsl(347, 100%, 57%);
	--steak-rare: hsl(344, 100%, 59%);
	--steak-fat: hsl(12, 100%, 72%);
	--steak-fat-2: hsl(344, 97%, 41%);
	--steak-fat-3: hsl(347, 100%, 57%);
	--steak-fat-4: hsl(5, 100%, 67%);
	--info: hsl(210, 75%, 25%);
	--danger: hsl(0, 66%, 33%);
	--nav-pink: rgba(255, 46, 101, 255);
}

* {
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	/* border: 1px solid red; */
}

.homepage {
	margin: 0;
}

/* background video styling sourced from https://blog.hubspot.com/website/video-background-css */
#background-video {
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
}

.homepage-main {
	display: grid;
	grid-template-columns: 10% 1fr;
	width: 100vw;
	height: 100vh;
	margin: 0;
}

.panel {
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 20rem;
	gap: 2rem;
}

.homepage-text {
	font-size: 25px;
	color: white;
	font-style: italic;
	/* margin-bottom: 20px; */
	/* margin-top: -20px; */
	align-self: center;
}

.homepage-image {
	width: 100%;
}

.homepage-button {
	padding: 15px 32px;
	font-size: 20px;
	font-weight: bold;
	border-radius: 8%;
	border: 0;
	margin-top: 2rem;
}

body {
	/* height: 100dvh;git  */
	background: radial-gradient(
		circle,
		rgba(2, 0, 36, 1) 0%,
		rgba(255, 255, 255, 1) 0%,
		rgba(255, 46, 101, 1) 100%
	);
	display: flex;
	flex-direction: row;
	align-items: stretch;
	/* width: 100vw;
	height: 100vh; */
	margin: 0;
}

h1 {
	margin: 0;
}
header {
	/* background-color: rgba(255, 46, 101, 255); */
	background-color: var(--steak-rare);
	box-shadow: 3px 0 6px color-mix(in srgb, var(--steak-rare) 50%, black);
	width: 20rem;
	/* position: fixed; */
}
nav {
	display: flex;
	flex-direction: column;
	/* align-items: flex-start; */
	gap: 1.5rem;
	padding: 0 3.5rem;
	/* overflow: hidden; */
	/* justify-content: flex-start; */
	margin: 0;
	/* top: 0; */
}

header > img {
	width: 100%;
}

nav a {
	color: white;
	font-size: 1.75rem;
	/* font-weight: 600; */
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
}

.nav-links {
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
}

.nav-links > a {
	color: white;
	padding: 1rem;
	font-size: 30px;
	text-decoration: none;
}

.nav-links > a:hover {
	text-decoration: underline;
}

main {
	background: white;
	padding: 2rem;
	margin: auto;
	max-width: 60ch;
	/* height: auto; */
	/* overflow: hidden; */
	/* top: 0; */
}

.main {
	width: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: white;
}

.reviews {
	padding-left: 1.5rem;
}

.all-reviews {
	display: flex;
	flex-direction: column;
}

.user-review {
	align-items: center;
	display: flex;
	flex-direction: row;
}

.review-user {
	padding-right: 3rem;
	text-align: center;
}

.review-user > img {
	border-radius: 50%;
	border: 1px solid black;
}

.review-user > p {
	margin-top: 0;
	font-weight: bold;
}

.review-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100vw;
	padding-right: 1rem;
}

.review-content-heading {
	display: flex;
	justify-content: space-between;
}

.main-content {
	padding: 50px;
	width: 600px;
	max-height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: white;
	padding: 2rem;
}

.title-nav {
	grid-template-columns: 1fr 2fr;
	display: grid;
}

.likes-nav {
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	background-color: white;
	margin-bottom: 1rem;
	text-align: center;
	align-items: center;
	font-size: 18px;
}

.likes-nav > a {
	text-decoration: none;
	color: var(--steak-fat-2);
	font-weight: 700;
}

.display-data {
	display: grid;
	grid-template-rows: 1fr 0.5fr;
	text-align: center;
	max-height: fit-content;
	margin-top: 1rem;
}

.user-info {
	margin: auto;
	text-align: center;
}

.user-info > img {
	border-radius: 50%;
	width: 15rem;
	height: 15rem;
	border: 3px solid black;
}

.user-name > p {
	font-size: 18px;
	/* margin-bottom: 1rem; */
}

.top-buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 0.25rem;
	justify-content: space-around;
	align-items: center;
	margin: 1rem 0 1rem 0;
}

.main-buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 0.25rem;
	justify-content: space-around;
	align-items: center;
	margin: 2rem 0 0 0;
}

.main-buttons button,
.top-buttons button {
	border: 1px solid currentColor;
	color: var(--steak-fat-2);
	background-color: white;
	border-radius: 0.5rem;
	padding: 0 0.5rem;
	font-size: 1rem;
	text-decoration: none;
	width: 8.8rem;
	height: 2rem;
	text-align: center;
}

.main-buttons button:hover,
.top-buttons button:hover {
	border: 1px solid currentColor;
	color: white;
	background-color: var(--steak-fat-2);
}

.restaurant-img {
	/* max-width: 100%; */
	width: 100%;
	object-fit: cover;
	margin: auto;
	height: 500px;
	/* align-self: auto; */
}

.restaurant-details > h2 {
	font-size: 2rem;
}

.flex-space-between {
	display: flex;
	justify-content: space-around;
	margin: 1rem auto;
}

.restaurant-data {
	display: grid;
	grid-template-columns: 4fr 2fr;
}

.restaurant-details {
	padding-left: 2rem;
}

.restaurant-details > p {
	margin: 0.5rem 0 0.5rem 0;
}

.restaurant-category > p {
	font-size: 1.4rem;
	font-weight: 700;
}

.restaurant-category {
	display: flex;
	flex-direction: column;
	align-items: end;
	padding: 1rem 2rem 0 0;
	justify-content: space-between;
}

.restaurant {
	font-size: 20px;
	margin-top: 0.5rem;
}

.restaurant-edit {
	display: grid;
	grid-template-columns: 10% 1fr;
	font-size: 20px;
	margin-top: 0.5rem;
}

.restaurant > a {
	color: var(--steak-fat-2);
	/* font-weight: bold; */
}

.restaurant-edit > p {
	/* font-weight: bold; */
	margin: 0;
}

.restaurant-edit button {
	background-color: white;
	text-align: center;
	margin: auto;
	border: 0px;
	border-radius: 50%;
	/* padding: 0 6 0 6; */
	height: 17.965;
}

.restaurant-edit button:hover {
	opacity: 50%;
}

.hidden {
	display: none;
}

.categories {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	gap: 0.25rem;
}

.categories > div {
	display: flex;
	gap: 0.25rem;
}

.list-pills {
	list-style: none;
	padding-left: 0;
	display: flex;
	flex-direction: column;
	align-items: end;
	gap: 0.25rem;
	text-align: end;
}
.list-pills > li {
	border: 1px solid currentColor;
	color: white;
	background-color: var(--flame-bottom);
	border-radius: 0.5rem;
	padding: 0 0.5rem;
	font-size: 1rem;
}

.icon-button {
	border: 0px;
	background-color: rgba(0, 0, 0, 0);
	width: 5rem;
	height: 5rem;
}

.rating {
	/* Center the content */
	align-items: center;
	display: flex;
	justify-content: flex-end;

	flex-direction: row-reverse;
}

.rating__star:hover,
.rating__star:hover ~ .rating__star {
	color: transparent;
}

/*
Make all previous stars selected when hover on a star
Note that we use \`flex-direction: row-reverse\` on the container
*/
.rating__star:hover:before,
.rating__star:hover ~ .rating__star:before {
	color: #eab308;
	content: '★';
	left: 0;
	position: absolute;
}

.rating__star {
	font-size: 1.5rem;

	/* Reset styles for button */
	background-color: transparent;
	border: transparent;
	margin: 0 2px;
	padding: 0;

	/* Used to position the hover state */
	position: relative;
}

.message-info,
.message-danger {
	margin: 0.5rem 1rem;
	padding: 0.25rem 0.5rem;
	border: 1px solid color-mix(in srgb, currentColor 20%, transparent);
	border-radius: 0.25rem;
	font-size: 0.8rem;
}

.message-info {
	color: var(--info);
	background-color: color-mix(in srgb, currentColor 15%, transparent);
}

.message-danger {
	color: var(--danger);
	background-color: color-mix(in srgb, currentColor 15%, transparent);
}

.button {
	color: var(--steak-fat-2);
	background-color: white;
	border: 1px solid color-mix(in srgb, currentColor 50%, transparent);
	border-radius: 0.5rem;
	padding: 0.25rem 1rem;
	font-size: 0.8rem;
	text-align: center;
}

.button.primary {
	font-weight: 600;
	color: white;
	background-color: var(--steak-fat-2);
}

.button:hover {
	color: var(--steak-fat-2);
	background-color: color-mix(in srgb, currentColor 15%, transparent);
}

div:not(.nav-links) a {
	text-decoration: none;
	opacity: 0.8;
	color: var(--steak-fat-2);
}

div:not(.nav-links) a:hover {
	opacity: 1;
}

div:not(.nav-links) a:visited {
	color: color-mix(in srgb, var(--steak-fat-2) 50%, black);
}

button:hover > svg {
	opacity: 0.8;
}

.flex-column {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

form.flex-column > div > label {
	display: block;
}

form.flex-column > div > label + input {
	background-color: white;
	border: 1px solid color-mix(in srgb, var(--steak-fat-2) 33%, transparent);
	border-radius: 0.25rem;
	padding: 0.25rem 0.5rem;
	width: 25ch;
}

form.flex-column fieldset {
	border: 1px solid color-mix(in srgb, var(--steak-fat-2) 25%, transparent);
	border-radius: 0.5rem;
}
form.flex-column fieldset > legend {
	color: var(--steak-fat-2);
}

.restaurant-detail > div {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 3rem;
	/* margin: 0 1.5rem; */
}
.restaurant-detail > div:nth-of-type(1) * {
	font-size: 1.5rem;
	margin: 0;
	/* margin-top: 1.5rem; */
}
.restaurant-detail > div:nth-of-type(2) * {
	margin: 0.25rem 0;
}

div.nav-space {
	width: 20rem;
}

.title-nav h1 {
	font-size: 1.2rem;
}

@media (max-width: 750px) {
	/* #background-video {
		display: none;
    background-size: cover
	} */
	/* body {
		background: url('/videos/tender-homepage.mp4')
			no-repeat;
		background-size: cover;
	}
	.panel {
		width: 100vw;
		background-color: rgba(0, 0, 0, 0.4);
	} */
}

@media (max-width: 950px) {
	body {
		flex-direction: column;
	}
	header {
		z-index: 10;
		height: 5rem;
		width: 100%;
		margin: 0;
		padding: 0 1rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		/* flex-direction: row; */
		/* position: unset; */
		/* box-shadow: none; */
	}
	header > img {
		width: 4rem;
		height: 4rem;
	}
	nav {
		flex-direction: row;
		align-items: center;
		margin: 0;
		padding: 0;
		gap: 0.75rem;
		/* margin: 0; */
		/* justify-content: flex-end; */
	}
	nav > a {
		/* color: white; */
		padding: 1rem;
		font-size: .9rem;
		/* padding: 0 0 0 0.5rem */
		padding: 0;
	}
	div.nav-space {
		display: none;
	}
	.main {
		width: 100vw;
	}
	.categories {
		grid-template-columns: 1fr 1fr;
	}
	main {
		margin: 0 auto;
	}
	body {
		background-size: cover;
	}
	body.homepage {
		background: url('/videos/tender-homepage.mp4') no-repeat;
	}
	.homepage-image {
		width: 20rem;
	}
	.panel {
		width: 100vw;
		background-color: rgba(0, 0, 0, 0.4);
	}
}
