<%- include('../partials/header.ejs') %>
<% if(user.likes.length > 0) { %>
    <% user.likes.forEach(function(like) { %>
        <div class="restaurant">
            <h3><%= like.name %></h3>
        </div>
    <% }) %>
<% } else { %>
    <p>You haven't disliked any restaurants yet!</p>
<% } %>
<%- include('../partials/footer.ejs') %>