<%- include('../partials/header.ejs') %>
<% if(user.likes.length > 0) { %>
    <% user.likes.forEach(function(like) { %>
        <% if(like.like === 'Like') {%>
        <div class="restaurant">
            <a href='/restaurants/<%=like.restaurant._id%>/reviews'><%= like.restaurant.name %></a>
        </div>
        <% } %>
    <% }) %>
<% } else { %>
    <p>You haven't liked any restaurants yet!</p>
<% } %>
<%- include('../partials/footer.ejs') %>