<%- include('../partials/header.ejs') %>
<% if(user.likes.length > 0) { %>
    <h3><a href="">Edit Saved Restaurants</a></h3>
    <% user.likes.forEach(function(like) { %>
        <% if(like.like === 'Save') {%>
        <div class="restaurant">
            <a href='/restaurants/<%=like.restaurant._id%>'><%= like.restaurant.name %></a>
        </div>
        <% } %>
        <% }) %>
<% } else { %>
    <p>You haven't saved any restaurants to look at later yet!</p>
<% } %>
<%- include('../partials/footer.ejs') %>