

<%- include('../partials/header.ejs') %>
<!-- restaurant details -->
<section>
    <div>
        <img src="" alt="">
    </div>
    <div>
        name    
        category
        price
        location
        phone number
        url
    </div>
</section>
<!-- actions -->
<section>
    <button>dislike</button>
    <button>save for later</button>
    <button>like</button>
</section>
<%- include('../partials/footer.ejs') %>
