<%- include('../partials/header.ejs') %>
<!-- <form action="/users/<%=user._id%>?_method=PUT" method="POST">
    <label for="username">Username: <input type="text" name="username" placeholder="enter username" required></label>
    <label for="name">Name: <input type="text" name="name" placeholder="enter name" required></label>
    <label for="zipCode">Zip Code: <input type="number" name="zipCode" placeholder="enter zip code" required></label>
    <a href="/restaurants/filter"><button type="submit">SAVE</button></a>
</form> -->
<form
	class="flex-column"
	action="/users/<%=user._id%>?_method=PUT"
	method="POST"
>
	<label for="username">Username: </label>
	<input type="text" name="username" placeholder="enter username" required />

	<label for="name">Name: </label>
	<input type="text" name="name" placeholder="enter name" required />

	<label for="zipCode">Zip Code: </label>
	<input type="number" name="zipCode" placeholder="enter zip code" required />
	<div>
		<button class="button primary" type="submit">Save</button>
	</div>
</form>
<%- include('../partials/footer.ejs') %>
